sudo: required
services:
  - docker
env:
  global:
    - SHA=$(git rev-parse HEAD)
    - CLOUDSDK_CORE_DISABLE_PROMPTS=1
before-install:
  - openssl aes-256-cbc -K $encrypted_0c35eebf403c_key -iv $encrypted_0c35eebf403c_iv -in service-account.json.enc -out service-account.json -d
  - curl https://sdk.cloud.google.com | bash > /dev/null;
  - source $HOME/google-cloud-sdk/path.bash.inc
  - gcloud components update kubectl
  - gcloud auth activate-service-account --key-file service-account.json
  - gcloud config set project hyperledger-k8
  - gcloud config set compute/zone asia-southeast1-a
  - gcloud container clusters get-credentials hyperledger-k8
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - npm install -g eslint
  - docker build -t rowelgutierrez/fabric-api-server -f ./api-server/Dockerfile ./api-server
script:
  - docker run -e CI=true rowelgutierrez/fabric-api-server npm run lint

deploy:
  skip-cleanup: true
  provider: script
  script: bash ./k8-deploy.sh
  on:
    branch: master