apiVersion: apps/v1
kind: Deployment
metadata:
  name: peer0-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: peer0-org1-imfreemobile-com
  template:
    metadata:
      labels:
        component: peer0-org1-imfreemobile-com
    spec:
      initContainers:
        - name: configmap-copy
          image: busybox
          command: ['/bin/sh', '-c']
          args: ['cp -R /etc/hyperledger/msp/peer/files/* /etc/hyperledger/msp/peer/ && cp -R /etc/hyperledger/configtx/files/* /etc/hyperledger/configtx/ && cp -R /etc/hyperledger/msp/users/files/* /etc/hyperledger/msp/users/']
          volumeMounts:
            - name: peer-storage
              mountPath: /etc/hyperledger/msp/peer
            - name: users-storage
              mountPath: /etc/hyperledger/msp/users
            - name: configtx
              mountPath: /etc/hyperledger/configtx
            - name: configtx-mount
              mountPath: /etc/hyperledger/configtx/files/genesis.block
              subPath: genesis.block
            - name: configtx-mount
              mountPath: /etc/hyperledger/configtx/files/channel.tx
              subPath: channel.tx
            - name: configtx-mount
              mountPath: /etc/hyperledger/configtx/files/Org1MSPanchors.tx
              subPath: Org1MSPanchors.tx
            - name: configtx-mount
              mountPath: /etc/hyperledger/msp/peer/files/config.yaml
              subPath: config.yaml
            - name: peer-admincerts-mount
              mountPath: /etc/hyperledger/msp/peer/files/admincerts
            - name: peer-cacerts-mount
              mountPath: /etc/hyperledger/msp/peer/files/cacerts
            - name: peer-keystore-mount
              mountPath: /etc/hyperledger/msp/peer/files/keystore
            - name: peer-signcerts-mount
              mountPath: /etc/hyperledger/msp/peer/files/signcerts
            - name: peer-tlscacerts-mount
              mountPath: /etc/hyperledger/msp/peer/files/tlscacerts
# &*********************************************
            - name: admin-admincerts-mount
              mountPath: /etc/hyperledger/msp/users/files/Admin@org1.imfreemobile.com/msp/admincerts
            - name: admin-cacerts-mount
              mountPath: /etc/hyperledger/msp/users/files/Admin@org1.imfreemobile.com/msp/cacerts
            - name: admin-keystore-mount
              mountPath: /etc/hyperledger/msp/users/files/Admin@org1.imfreemobile.com/msp/keystore
            - name: admin-signcerts-mount
              mountPath: /etc/hyperledger/msp/users/files/Admin@org1.imfreemobile.com/msp/signcerts
            - name: admin-tlscacerts-mount
              mountPath: /etc/hyperledger/msp/users/files/Admin@org1.imfreemobile.com/msp/tlscacerts
            - name: admin-tls-mount
              mountPath: /etc/hyperledger/msp/users/files/Admin@org1.imfreemobile.com/tls
# &*********************************************
            - name: user1-admincerts-mount
              mountPath: /etc/hyperledger/msp/users/files/User1@org1.imfreemobile.com/msp/admincerts
            - name: user1-cacerts-mount
              mountPath: /etc/hyperledger/msp/users/files/User1@org1.imfreemobile.com/msp/cacerts
            - name: user1-keystore-mount
              mountPath: /etc/hyperledger/msp/users/files/User1@org1.imfreemobile.com/msp/keystore
            - name: user1-signcerts-mount
              mountPath: /etc/hyperledger/msp/users/files/User1@org1.imfreemobile.com/msp/signcerts
            - name: user1-tlscacerts-mount
              mountPath: /etc/hyperledger/msp/users/files/User1@org1.imfreemobile.com/msp/tlscacerts
            - name: user1-tls-mount
              mountPath: /etc/hyperledger/msp/users/files/User1@org1.imfreemobile.com/tls
      volumes:
        - name: dockersocket
          hostPath:
            path: /var/run/docker.sock
        - name: peer-storage
          emptyDir: {}
        - name: users-storage
          emptyDir: {}
        - name: configtx
          emptyDir: {}
        - name: peer-admincerts-mount
          secret:
            secretName: p-cert-peer-msp-admincerts
        - name: peer-cacerts-mount
          secret:
            secretName: p-cert-peer-msp-cacerts
        - name: peer-keystore-mount
          secret:
            secretName: p-cert-peer-msp-keystore
        - name: peer-signcerts-mount
          secret:
            secretName: p-cert-peer-msp-signcerts
        - name: peer-tlscacerts-mount
          secret:
            secretName: p-cert-peer-msp-tlscacerts
# &*********************************************
        - name: admin-admincerts-mount
          secret:
            secretName: p-cert-admin-msp-admincerts
        - name: admin-cacerts-mount
          secret:
            secretName: p-cert-admin-msp-cacerts
        - name: admin-keystore-mount
          secret:
            secretName: p-cert-admin-msp-keystore
        - name: admin-signcerts-mount
          secret:
            secretName: p-cert-admin-msp-signcerts
        - name: admin-tlscacerts-mount
          secret:
            secretName: p-cert-admin-msp-tlscacerts
        - name: admin-tls-mount
          secret:
            secretName: p-cert-admin-tls
# &*********************************************
        - name: user1-admincerts-mount
          secret:
            secretName: p-cert-user1-msp-admincerts
        - name: user1-cacerts-mount
          secret:
            secretName: p-cert-user1-msp-cacerts
        - name: user1-keystore-mount
          secret:
            secretName: p-cert-user1-msp-keystore
        - name: user1-signcerts-mount
          secret:
            secretName: p-cert-user1-msp-signcerts
        - name: user1-tlscacerts-mount
          secret:
            secretName: p-cert-user1-msp-tlscacerts
        - name: user1-tls-mount
          secret:
            secretName: p-cert-user1-tls
# ********************************************
        - name: configtx-mount
          configMap:
              name: channel-artifacts
              items:
              - key: genesis.block
                path: genesis.block
              - key: channel.tx
                path: channel.tx
              - key: Org1MSPanchors.tx
                path: Org1MSPanchors.tx
              - key: config.yaml
                path: config.yaml
      containers:
        - name: peer0-org1-imfreemobile-com
          image: hyperledger/fabric-peer:1.4.1
          workingDir: /opt/gopath/src/github.com/hyperledger/fabric
          command: ['/bin/sh', '-c', 'peer node start']
          ports:
            - containerPort: 7051
            - containerPort: 7053
          volumeMounts:
            - mountPath: /host/var/run/docker.sock
              name: dockersocket
            - name: users-storage
              mountPath: /etc/hyperledger/msp/users
              readOnly: false
            - name: peer-storage
              mountPath: /etc/hyperledger/msp/peer
              readOnly: false
            - name: configtx
              mountPath: /etc/hyperledger/configtx
              readOnly: false
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 200m
              memory: 200Mi
          env:
            - name: CORE_VM_ENDPOINT
              value: unix:///host/var/run/docker.sock
            # - name: CORE_PEER_NETWORKID
            #   value: nid1
            - name: CORE_PEER_ID
              value: peer0-org1-imfreemobile-com
            - name: FABRIC_LOGGING_SPEC
              value: debug
            - name: CORE_PEER_LOCALMSPID
              value: Org1MSP
            - name: CORE_PEER_MSPCONFIGPATH
              value: /etc/hyperledger/msp/peer/
            - name: CORE_PEER_ADDRESS
              value: peer0-org1-imfreemobile-com:7051
            - name: CORE_PEER_CHAINCODELISTENADDRESS
              value: 0.0.0.0:7052
            # - name: CORE_PEER_LISTENADDRESS
            #   value: 0.0.0.0:7051
            # - name: CORE_PEER_EVENTS_ADDRESS
            #   value: 0.0.0.0:7052
            # - name: CORE_PEER_GOSSIP_BOOTSTRAP
            #   value: peer0-org1-imfreemobile-com:7051
            # - name: CORE_PEER_GOSSIP_ENDPOINT
            #   value: peer0-org1-imfreemobile-com:7051
            # - name: CORE_PEER_GOSSIP_EXTERNALENDPOINT
            #   value: peer0-org1-imfreemobile-com:7051
            - name: ORDERER_URL
              value: orderer-imfreemobile-com:7050
            - name: CORE_VM_DOCKER_ATTACHSTDOUT
              value: "true"
            # - name: CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE
            #   value: fabric-network_basic
            - name: CORE_LEDGER_STATE_STATEDATABASE
              value: CouchDB
            - name: CORE_LEDGER_STATE_COUCHDBCONFIG_COUCHDBADDRESS
              value: couchdb:5984
            - name: CORE_LEDGER_STATE_COUCHDBCONFIG_USERNAME
              value: ""
            - name: CORE_LEDGER_STATE_COUCHDBCONFIG_PASSWORD
              value: ""